# ROS 2 workspace artifacts
/build/
/install/
/log/

# colcon
/.colcon/
/.colcon.log

# Python
__pycache__/
*.pyc

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store

# Gazebo
*.db
/gazebo/

# RViz
*.rviz~
